doctype html
html
  head
    title Data Visualization | Portfolio | Sandeep Khandewale
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
  body    
    .container-fluid
      .row
        nav.col-sm-3.col-md-2.bg-faded.sidebar
          ul.nav.nav-pills.flex-column
            li.nav-item
              a.nav-link(href='#app1Container') Markdown Previewer 
            li.nav-item
              a.nav-link(href='#app2Container') Camper Leaderboard
            li.nav-item
              a.nav-link(href='#app3Container') Recipe Box
            li.nav-item
              a.nav-link(href='#app4Container') Game of Life
            li.nav-item
              a.nav-link(href='#') Dungeon Crawler Game
          ul.nav.nav-pills.flex-column
            li.nav-item
              a.nav-link(href='#app5Container') Bar Chart
            li.nav-item
              a.nav-link(href='#app6Container') Scatterplot Graph
            li.nav-item
              a.nav-link(href='#app7Container') Heat Map
            li.nav-item
              a.nav-link(href='#') Force Directed Graph
            li.nav-item
              a.nav-link(href='#') Global Data Map
        main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
          #app7Container.container-fluid.app-container
          #app6Container.container-fluid.app-container
          #app5Container.container-fluid.app-container
          #app4Container.container-fluid.app-container
          #app3Container.container-fluid.app-container
          #app2Container.container-fluid.app-container
          #app1Container.container-fluid.app-container


