doctype html
html
  head
    title Data Visualization | Portfolio | Sandeep Khandewale
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
  body
    #app1Container.container-fluid
    #app2Container.container-fluid
