#app4Container {

    div.grid-row{
        margin: 0;
        padding: 0;
        height: 20px;
        div.cell{
            display: inline-block;
            width: 20px;
            height: 20px;
            box-shadow: 1px 1px 1px 1px lightcyan;
        }
        div.alive-cell{
            background-color: lightgreen;
        }
        div.dead-cell{
            background-color: lightcoral;
        }
    }
}