#app4Container {
    table{
        tbody{
            tr{
                td{
                    div{
                        width: 20px;
                        height: 20px;
                    }
                    div.alive-cell{
                        background-color: lightgreen;
                    }
                    div.dead-cell{
                        background-color: lightcoral;
                    }
                }
            }
        }
    }
}